.loginPage{
  position: relative;
  .loginBox{
      width: 450px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      color:#fff;

      h1{
          font-weight: bolder;
          font-size: 45px;
          text-align: center;
          color:#ffd406;
      }
      p{
          text-align: center;
          margin: 20px 0;
          color: #ffd406;
      }
      .p{
        visibility: hidden;
      }
      .title{
          margin-bottom: 40px;
          position: relative;
          &:before,&:after{
              content:"";
              width: 100px;
              height: 2px;
              position: absolute;
              background: linear-gradient(to right,rgba(255,255,255,0),#ffd406);
              left: -100px;
              top:38px;
          }
          &:after{
              left: auto;
              background: linear-gradient(to left,rgba(255,255,255,0),#ffd406);
              right: -100px;
          }
      }
  }
}
@media screen and (max-width: 600px) {
    .loginPage{
        position: relative;
        .loginBox{
            width: 280px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            color:#fff;
            h1{
                font-weight: normal;
                font-size: 20px;
                text-align: center;
                color:#ffd406;
            }
            p{
                text-align: center;
                margin: 20px 0;
                color: #ffd406;
            }
            .p{
                visibility: visible;
                text-align: center;
                white-space: nowrap;
            }
            .title{
                margin-bottom: 40px;
                position: relative;
            }
        }
      }
}